.wrap {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 85vmin;
	height: 65vmin;
	margin: 2rem auto;
	border: 8px solid;
	border-image: linear-gradient(
			-50deg,
			#b42f56,
			#f3ee97,
			rgb(106, 135, 237),
			rgb(231, 75, 122),
			rgb(251, 247, 182),
			#181d7d,
			rgb(100, 208, 241)
		)
		1;
	transition: 0.3s ease-in-out;
	position: relative;
	overflow: hidden;
}
.animate h1 {
	font-size: 5.25vmin;
	text-align: center;
	color: #b42f56;
}
.gal_taac {
	font-size: max(6pt, 2.2vmin);
    font-weight: 600;
	line-height: 1.4;
	margin-bottom: 1.5rem;
}

.overlay {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 1rem 0.75rem;
	background-image: url(/img/TAAC_Collections/Coimbatore.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	transition: 0.4s ease-in-out;
	z-index: 1;
}
.overlay-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 15vmin;
	height: 100%;
	padding: 0.5rem 0 0 0.5rem;
	border: 3px solid;
	border-image: linear-gradient(
			to bottom,
			#9e3759 5%,
			rgb(157, 153, 241) 35% 65%,
			#aea724 95%
		)
		0 0 0 100%;
	transition: 0.3s ease-in-out 0.2s;
	z-index: 1;
}
.image-content {
	position: absolute;
	top: 0;
	right: -19px;
	width: 60vmin;
	height: 100%;
	background-image: url("../img/TAAC_Collections/akshaya_logo.png");
	background-size: 20vh;
    background-repeat: no-repeat;
	transition: 0.3s ease-in-out;
    background-position-x: center;
    background-position-y: center;
	/*border: 1px solid green;
	 */
}
@media only screen and (max-width: 768px) {
    .image-content {
        background-size: 15vh; /* Reduced background size for smaller screens */
        width: 80vw; /* Adjust the width for smaller screens */
        right: -17px; /* Reset the right position for smaller screens */
    }
}
@media only screen and (max-width: 450px) {
    .image-content {
        background-size: 10vh; /* Reduced background size for smaller screens */
        width: 60vw; /* Adjust the width for smaller screens */
        right: -17px; /* Reset the right position for smaller screens */
    }
}
.inset {
	max-width: auto;
    max-height: 20vh;
	margin: 0.25em 1em 1em 0;
	border-radius: 0.25em;
	float: left;
}
@media only screen and (max-width: 1024px) {
    /* Tablet view */
    .inset {
        max-width: 50%; /* Adjust max-width for tablet */
    }
}

@media only screen and (max-width: 768px) {
    /* Mobile view */
    .inset {
        max-width: 100%; /* Adjust max-width for mobile */
        float: left; /* Remove float for better stacking on mobile */
        margin-right: -1px; /* Remove right margin on mobile */
        padding-right: 5px;
    }
}

.dots {
	position: absolute;
	bottom: 1rem;
	right: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 55px;
	height: 4vmin;
	transition: 0.3s ease-in-out 0.3s;
}
.dot {
	width: 14px;
	height: 14px;
	background: yellow;
	border: 1px solid indigo;
	border-radius: 50%;
	transition: 0.3s ease-in-out 0.3s;
}

.text {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	padding: 3vmin 4vmin;
	background: #fff;
	box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / 0.4);
	overflow-y: scroll;
}

.wrap:hover .overlay {
	transform: translateX(-60vmin);
}
.wrap:hover .image-content {
	width: 30vmin;
}
.wrap:hover .overlay-content {
	border: none;
	transition-delay: 0.2s;
	transform: translateX(60vmin);
}
.wrap:hover .dots {
	transform: translateX(1rem);
}
.wrap:hover .dots .dot {
	background: white;
}

/* Animations and timing delays */
.animate {
	animation-duration: 0.7s;
	animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
	animation-fill-mode: backwards;
}
/* Pop In */
.pop {
	animation-name: pop;
}
@keyframes pop {
	0% {
		opacity: 0;
		transform: scale(0.5, 0.5);
	}
	100% {
		opacity: 1;
		transform: scale(1, 1);
	}
}

/* Slide In */
.slide {
	animation-name: slide;
}
@keyframes slide {
	0% {
		opacity: 0;
		transform: translate(4em, 0);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

/* Slide Left */
.slide-left {
	animation-name: slide-left;
}
@keyframes slide-left {
	0% {
		opacity: 0;
		transform: translate(-40px, 0);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.slide-up {
	animation-name: slide-up;
}
@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(3em);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.delay-1 {
	animation-delay: 0.3s;
}
.delay-2 {
	animation-delay: 0.6s;
}
.delay-3 {
	animation-delay: 0.9s;
}
.delay-4 {
	animation-delay: 1.2s;
}
.delay-5 {
	animation-delay: 1.5s;
}
.delay-6 {
	animation-delay: 1.8s;
}
.delay-7 {
	animation-delay: 2.1s;
}
.delay-8 {
	animation-delay: 2.4s;
}
